@charset "UTF-8";

@media print {
    /* IMPRESSÃO */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* TABLET */
    body {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        min-height: 100vh;


    }

    main {
        display: flex;
        flex-direction: row;
    }
    .artigo-1{
        border-radius: 0.5rem 0rem 0rem 0.5rem;
    }
    .artigo-3{
        border-radius: 0rem 0.5rem 0.5rem 0rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /* DESKTOP */
    body {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        min-height: 100vh;


    }

    main {
        display: flex;
        flex-direction: row;
    }
    .artigo-1{
        border-radius: 0.5rem 0rem 0rem 0.5rem;
    }
    .artigo-3{
        border-radius: 0rem 0.5rem 0.5rem 0rem;
    }

}

@media screen and (min-width: 1200px) {

    /* GRANDE TELAS */
    body {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        min-height: 100vh;


    }

    main {
        display: flex;
        flex-direction: row;
    }
    .artigo-1{
        border-radius: 0.5rem 0rem 0rem 0.5rem;
    }
    .artigo-3{
        border-radius: 0rem 0.5rem 0.5rem 0rem;
    }
}